streamlit>= 1.18.0
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
dataclasses-json
distro
dnspython
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
h11
httpcore
httpx
huggingface-hub
idna
InstructorEmbedding
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
networkx
numpy
openai
orjson
packaging
pandas
pillow
pip
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
pymongo
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
SQLAlchemy
streamlit-cookies-manager
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torn
transformers
typing_extensions
typing-inspect
tzdata
urllib3
yarl